[submodule "docs"]
	path = docs
	branch = main
	url = https://github.com/jonascsilva/portfolio
[submodule "backend"]
	path = backend
	branch = main
	url = https://github.com/jonascsilva/studynest-backend
[submodule "frontend"]
	path = frontend
	branch = main
	url = https://github.com/jonascsilva/studynest-frontend
